<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.wxminiprograms.dao.db.auto.HomepageTemplateEntityMapper">
  <resultMap id="BaseResultMap" type="com.zcy.wxminiprograms.entity.auto.HomepageTemplateEntity">
    <id column="TEMPLATE_ID" jdbcType="BIGINT" property="templateId" />
    <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="STORE_ID" jdbcType="BIGINT" property="storeId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    TEMPLATE_ID, TEMPLATE_NAME, STORE_ID, STATUS, CREATE_TIME, CREATE_BY, UPDATE_TIME, 
    UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from homepage_template
    where TEMPLATE_ID = #{templateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from homepage_template
    where TEMPLATE_ID = #{templateId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zcy.wxminiprograms.entity.auto.HomepageTemplateEntity">
    insert into homepage_template (TEMPLATE_ID, TEMPLATE_NAME, STORE_ID, 
      STATUS, CREATE_TIME, CREATE_BY, 
      UPDATE_TIME, UPDATE_BY)
    values (#{templateId,jdbcType=BIGINT}, #{templateName,jdbcType=VARCHAR}, #{storeId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zcy.wxminiprograms.entity.auto.HomepageTemplateEntity">
    insert into homepage_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateId != null">
        TEMPLATE_ID,
      </if>
      <if test="templateName != null">
        TEMPLATE_NAME,
      </if>
      <if test="storeId != null">
        STORE_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcy.wxminiprograms.entity.auto.HomepageTemplateEntity">
    update homepage_template
    <set>
      <if test="templateName != null">
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        STORE_ID = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where TEMPLATE_ID = #{templateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcy.wxminiprograms.entity.auto.HomepageTemplateEntity">
    update homepage_template
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      STORE_ID = #{storeId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=BIGINT}
    where TEMPLATE_ID = #{templateId,jdbcType=BIGINT}
  </update>
</mapper>